USE [master]
GO
/****** Object:  Database [dbStudent]    Script Date: 8/1/2019 12:02:57 AM ******/
CREATE DATABASE [dbStudent]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'dbStudent', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.AUD000WTE269\MSSQL\DATA\dbStudent.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'dbStudent_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.AUD000WTE269\MSSQL\DATA\dbStudent_log.ldf' , SIZE = 2048KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [dbStudent].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [dbStudent]
GO
/****** Object:  Table [dbo].[StudentData]    Script Date: 8/1/2019 12:02:58 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[StudentData](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Student] [varchar](150) NOT NULL,
	[LanguageArts] [int] NOT NULL,
	[Science] [int] NOT NULL,
	[SocialStudies] [int] NOT NULL,
	[Maths] [int] NOT NULL,
 CONSTRAINT [PK_StudentData] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
USE [master]
GO
